:root {
    --brand-color: #c7bdb4;

    --primary-color: #FFFFFF;
    --secondary-color-ligher: #D9D9D9;
    --secondary-color-light: #666666;
    --secondary-color-medium: #4F4C4C;
    --secondary-color-dark: #333333;

    --shadow-color-medium: #00000020;
    --shadow-color-dark: #00000010;

    --start-plan-color: #56CCF2;
    --ultra-plan-color: #B04CD9;
    --mega-plan-color: #E33B3B;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--primary-font);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.button {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 0.0625rem solid var(--primary-color);
    border-radius: 0.3125rem;
}

@media screen and (min-width: 992px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}