.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    text-align: center;
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
    height: 500px;
}

.cta__title {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.cta__text {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
    max-width: 600px;
}

.cta__button {
    width: 100%;
    transition: 0.3s;
}

.cta__button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color-dark);
}

@media screen and (min-width: 992px) {
    .cta {
        padding-top: 8.25rem;
    }

    .cta__title {
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }
}